# =========================
# FastAPI
# =========================
fastapi
uvicorn[standard]
python-dotenv

# =========================
# Supabase
# =========================
supabase

# =========================
# Authentication
# =========================
PyJWT

# =========================
# LangGraph / LangChain
# =========================
langgraph
langchain-groq
langchain-core
langchain-text-splitters

# =========================
# Token Counting
# =========================
tiktoken

# =========================
# Web Search Tools
# =========================
requests
beautifulsoup4
duckduckgo-search
ddgs

# =========================
# RAG
# =========================
PyMuPDF
faiss-cpu
sentence-transformers
fitz
gotrue

# Pin numpy for stability
numpy<3.0

# Force CPU Torch
torch --index-url https://download.pytorch.org/whl/cpu